body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #D1D5DB;
}

.card {
  background: #1a1b26;
  padding: 40px;
  border-radius: 16px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #51a2ff;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #020617;
  color: #D1D5DB;
  box-sizing: border-box;
  display: block;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #51a2ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
  display: block;
}

button:hover {
  opacity: 0.8;
}

.info {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.7;
}